.header {
    width: 100%;
    height: 65vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Images/BackGround.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px;
}

.header .header-content {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.header .header-content h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin: 0px 0px 8px;
    width: 450px;
    align-content: center;
}

.header .header-content h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    margin: 0px 0px 10px;
}

.header .header-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 10px 0px;
    width: 450px;
}

.header .header-content .email {
    display: flex;
    flex-wrap: wrap;
}

.header .header-content .email input {
    padding: 15px 10px;
    width: 250px;
    color: rgba(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 5px;
    background: transparent;
    margin: 0px 5px;
    border: 1px solid rgb(10, 162, 7);
}

.header .header-content .email button {
    padding: 15px 10px;
    background: red;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 24px;
    border-radius: 5px;
    line-height: 24px;
    border-style: none;
    cursor: pointer;
    text-align: center;
}

.section {
    height: 75vh;
    background-color: #000000;
}


.section .join {
    margin: 70px 35px;
}

.section .join h2 {
    margin-left: 5px;
    margin-bottom: 10px;
    font-size: 18px;
}

.section .join .box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section .join .box .container {
    width: 100%;
    height: 125px;
    border-radius: 15px;
    margin: 5px 5px;
}

.section .join .box .container p {
    padding: 20px 10px;
    font-size: 20px;
    font-weight: 500;
}


.section-question {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-question h2 {
    margin-left: 100px;
    font-weight: 500;
    font-size: 18px;
}

.section-question .question-box {
    margin: 5px 0px;
    cursor: pointer;
    width: 100%;
}

.section-question .question-box .asked-question {
    display: flex;
    justify-content: space-between;
    margin: 5px 100px;
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 400;
    background-color: rgb(45, 45, 45);
}

.footer .footer-input{
    width: 90%;
    margin-top: 75px;
    margin-left: 35px;
}


.footer-input form input {
    padding: 15px 10px;
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    position: relative;
    color: rgba(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid rgb(10, 162, 7);
}

.footer .footer-input form .footer-btn {
    position: absolute;
    padding: 10px;
    margin: 0px 0px 0px 10px;
    width: 175px;
    height: 50px;
    background: red;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 18px;
    border-style: none;
    cursor: pointer;
    text-align: center;
    resize: vertical;
}



.footer .footer-input .call {
    margin: 20px 30px;
    font-weight: 100;
    color: rgb(185, 178, 178);
}



footer .faq-box {
    margin-top: -20px;
    display: grid;
    grid-template-columns: auto auto;
    text-decoration: underline;
    list-style: none;
    margin-left: 60px;
}


footer .btn3 button {
    margin-top: 100px;
    margin-left: 75px;
    padding: 5px 20px;
    width: auto;
    background: transparent;
    color: white;
    font-weight: 500;
    font-size: 18px;
    border: 1px solid white;
}


footer .last-item p {
    margin-top: 50px;
    margin-left: 75px;
    margin-bottom: 50px;
    font-weight: 400;
    color: rgb(187, 182, 182);
}
